<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stesso.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ExpressInfoActivity"></activity>
        <activity
            android:name=".ModifyNameActivity"
            android:label="@string/title_activity_modify_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RefundActivity" />
        <activity android:name=".SuggestionActivity" />
        <activity android:name=".account.ModifyPasswordActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CommodityDetailActivity" />
        <activity android:name=".address.AddressListActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".shopcart.ShopCartActivity" />
        <activity
            android:name=".account.LoginActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".account.RegisterActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".account.SettingActivity" />
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".address.AddAddressActivity" />
        <activity android:name=".SettlementActivity" />

        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService"> <!-- 用户质量评估Service可以配置在主进程或者单独进程 -->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="TD_APP_ID"
            android:value="4D54D4B060B04746924DAD11943DA73D" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_VALUE}" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".PayActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>